<%=link_to_function "add new song", visual_effect(:toggle_appear, "new-form", :duration => 0.5)%>

<div id="new-form" style="display: none;">
  <% form_for(@song) do |f| %>
    <%= f.error_messages %>
    <%= f.text_field :name %>
    <p>
      <%= f.submit "Create" %>
    </p>
  <% end %>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<table>
<% for song in @songs %>
  <tr>
    <td><%= song.name %></td>
  </tr>
<% end %>
</table>

<br />
